{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="contacts">
        <span class="contacts-title">Товарищество с ограниченной ответственностью "Ломбард-АСТ КЗ"</span>
        <div class="contacts-info">
            <p>БИН: <span class="contacts-info-detail">171140036307</span></p>
            <p>КАТО: <span class="contacts-info-detail">711110000</span></p>
            <p>Источник: stat.gov.kz</p>
        </div>
        <p class="contacts-text">г.Астана, Район Алматы, улица Алексей Петров, дом 17</p>
        <span>Телефон: <a href="" class="contacts-phone">+7‒778‒344‒20‒21</a></span>
        <hr>
        <p class="contacts-text">г.Астана, Район Алматы, ​Проспект Бауыржан Момышулы, дом 25</p>
        <span>Телефон: <a href="" class="contacts-phone">+7‒702‒100‒95‒39</a></span>
        <hr>
        <p class="contacts-text">г.Астана, Район Алматы, ​Улица Кенен Азербаев, 6 ​цокольный этаж</p>
        <span>Телефон: <a href="" class="contacts-phone">+7‒778‒781‒84‒00</a></span>
        <hr>
        <p class="contacts-text">г.Астана, Район Алматы, ​Улица Габит Мусрепов, 9</p>
        <span>Телефон: <a href="" class="contacts-phone">+7‒778‒471‒66‒35</a></span>
        <hr>
        <p style="padding-top: 20px;"><b>Режим работы</b></p>
        <a>пн-пт: 9:00-19:45</a>
        <br>
        <a>вс-сб: 9:30-19:00</a>
    </div>
</div>
{% endblock %}